.sidebar_switch_org {
  padding: 0 1.5rem;
  align-items: center;
  height: 40px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  color: rgba($secondary, 0.7);
  flex: 0 1 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.new_organization {
  cursor: pointer;
  padding: 1rem;
  border-radius: $border-radius;
  &:hover {
    background-color: rgba($color: $primary, $alpha: 0.1);
  }
}

@media (min-width: $medium-screen) and (max-width: $large-screen) {
  .sidebar_switch_wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .sidebar_switch_org {
    background-color: rgba($blue, 0.08);
    padding: 0.6rem;
    border-radius: $border-radius-full;
    .chervon_down {
      display: none;
    }
  }
}
