.badge {
  border-radius: $border-radius-xl;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0.25rem;
}

.rating__full {
  fill: #e9b200;
}
.rating__empty {
  stroke: #e9b200;
}
