$colors: (
  // Define a named list of our colors
  'success': $success,
  'success-light': rgba($success, 0.05),
  'danger': $danger,
  'danger-light': rgba($danger, 0.05),
  'warning': $warning,
  'warning-light': rgba($warning, 0.05),
  'info': $gray-500,
  'info-light': rgba($gray-500, 0.05),
  'primary': $primary,
  'primary-light': rgba($primary, 0.05),
  'secondary': $secondary,
  'secondary-light': rgba($secondary, 0.05),
  'red': $red,
  'red-light': rgba($red, 0.05),
  'pink': $pink,
  'pink-light': rgba($pink, 0.05),
  'purple': $purple,
  'purple-light': rgba($purple, 0.05)
);

@each $n, $c in $colors {
  // $n is the key, $c is the value
  .text-#{$n} {
    --c: #{$c};
    color: #{$c};
  }

  .bg-#{$n} {
    --bg: #{$c};
    background-color: #{$c};
  }
}

.danger {
  background-color: $danger;
}
.danger-light {
  background-color: rgba($color: $danger, $alpha: 0.05);
}

.warning-light {
  background-color: rgba($color: $warning, $alpha: 0.05);
}

.pink-light {
  background-color: rgba($color: $pink, $alpha: 0.05);
}

.purple-light {
  background-color: rgba($color: $purple, $alpha: 0.05);
}

.light-danger {
  background-color: rgba($color: $danger, $alpha: 0.1);
  color: $danger;
}

.light-warning {
  background-color: rgba($color: $warning, $alpha: 0.1);
  color: $warning;
}

.light-success {
  background-color: rgba($color: $success, $alpha: 0.1);
  color: $success;
}

.light-info {
  background-color: rgba($color: $gray-500, $alpha: 0.1);
  color: $gray-500;
}
