@import '../variables';

.app_users_list {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  .app_stats {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 1.5rem;
    min-height: 10rem;
  }

  .app_users_table {
    width: 100%;
  }

  .more_actions {
  }
}
@media (min-width: $medium-screen) {
  .app_users_list {
    .app_stats {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      column-gap: 1.5rem;
    }
  }
}
