@import './variables';

ul,
ol {
  list-style: none;
}
hr {
  width: 100%;
  opacity: 0.1;
  border: 1px solid #545f7d;
}

@import './abstracts/include.scss';
@import './libs/include.scss';
@import './components/include.scss';
